# OS / IDE / Editor
.DS_Store
.idea
*.bak

# Dependencies / Build
node_modules/
coverage/
logs/
.hlx/
localhost.pem
localhost-key.pem

# Generated
helix-importer-ui
tools/importer/*.bundle.js
tools/importer/urls-*.txt
tools/importer/reports/
